*{
    margin: 0%;
    padding: 0%;
    list-style: none;
    text-decoration: none;
}

@media only screen and (min-width: 600px);

body{
    background-color: aqua;
}

.header{
    width: 100%;
    height: 300px;
    display: block;
    background-color: #101010;
    padding: 0px;

}
.logo_container{
    margin-left: 50%;
    color: rgb(0, 0, 0);
    position: fixed;
    text-align: center;
    margin-top: -260px;
    margin-left: 450px;
}

.logo_container h1{
    color: #101010;
    height: 100%;
    display: table-cell;
    font-family: 'Montserrat', sans-serif;
    font-size: 200px;
    font-weight: 400;
    position:absolute;
    top: -25%;
    margin-left: 0%;

}

.fotobanner{
margin-top: 0px;
margin-left: 55px;
}

.copyright_footer{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: #101010;
    line-height: 2.3;
    text-align: center;
    left: 0;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    padding: 5px;
}

.copyright{
    position: fixed;
    color: white;
    bottom: 0;
    width: 20%;
    background-color: #101010;
    left: 20px;
    margin-left: 20px;
    margin-bottom: 25px;
}

.col1{
  float: left;
  padding-left: 20px;
  padding-top: 20px;
  width: 22%;
}

.collum{
    background-color: aquamarine;
    font-family: 'Montserrat', sans-serif;
}

.col2{
    float: right;
    width: 40%;
    background-color: aquamarine;
    margin-top: 20px;
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;
}

.col3{
    float: right;
    width: 40%;
    background-color: aquamarine;
    margin-top: 20px;
    margin-right: 20px;
    font-family: 'Montserrat', sans-serif;
}

.atractie{
    float: right;
    margin: 5px;
}